body{
    background-color: whitesmoke;  
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto; 
}

.main-section{
    display: flex;
    flex-direction: row;
    padding: 3%;
}

.main-section .form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    width: 40%;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.59);
    height: 60%;

    /* padding: 2%; */
}

.main-section .form h3{
    border-bottom: 5px solid navy;
    padding: 2% 4%;
    margin: 0;
}

.main-section .form .input-section{
    padding: 1% 4%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.main-section .form .input-section .group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-section .form .input-section .group div{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.main-section .form #addexpense{
    /* margin: 1% 0; */
    padding: 4%;
    background-color: white;
    color: navy;
    font-weight: 900;
    border: 1px solid navy;
    border-radius: 8px;
    font-size: 16px;
}

.main-section .form #amount{
    /* margin: 2% 0; */
    padding: 6% 4%;
    background-color: white;
    color: navy;
    font-weight: 900;
    border: 1px solid navy;
    border-radius: 8px;
    font-size: 16px;
}

.main-section .form #currency{
    padding: 6% 2%;
    border: 1px solid navy;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
}

.main-section .form #category{
    padding: 4% 2%;
    border: 1px solid navy;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
}

.main-section .form #submit{
    margin: 2% 0;
    padding: 4%;
    background-color: navy;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 8px;
}




.expensedisplay{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    margin: 0 0 0 1%;    
    border-radius: 8px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.59);
}

.expensedisplay .filter{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1%;
    border-bottom: 3px solid navy;
}

.expensedisplay .filter p {
    border: 2px solid navy;
    padding: 1% 4%;
    color: navy;
    border-radius: 20px;
}
.expensedisplay .filter p:hover{
    background-color: navy;
    color: white;
}

.expensedisplay .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 2% 1%;
}

.expensedisplay .header h3{
    margin: 0;
}

.expensedisplay .header p{
    margin: 0;
    color: gray;
    font-weight: bold;
}

.expensedisplay .expenselist{
    display: flex;
    flex-direction: column;
}

.expensedisplay .expenselist .expense-card{
    display: flex;
    flex-direction: row;
    margin: 2% 3%;
    padding: 0.5% 0;
    justify-content: space-between;
    border-bottom: 1px dotted navy;
    /* background-color: red; */
}

.expensedisplay .expenselist .expense-card .item{
    width: 60%;
}

.expensedisplay .expenselist .expense-card h3{ 
    margin: 0;
    font-size: 16px;
    color: blue;
}

.expensedisplay .expenselist .expense-card p{ 
    color: gray;
    margin: 0;
    font-size: 12px;
}

.expensedisplay .expenselist .expense-card .money{
    width: 30%;
}

.expensedisplay .expenselist .expense-card .delete{
    width: 5%;
    /* height: 100%; */
    /* background-color: yellow; */
    display: flex;
    align-items: end;
    justify-content: end;
}

.expensedisplay .expenselist .expense-card .delete span{
    border: 1px solid red;
    border-radius: 8px;
    padding: 25%;
    font-size: 20px;
    color: red;
}

.expensedisplay .expenselist .no-expenses{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 5%;
    background-color: lavender;
    border-radius: 0 0 8px 0;
}

.expensedisplay .expenselist .no-expenses h4{
    margin: 0;
    padding: 0;
    font-size: 26px;
}
.expensedisplay .expenselist .no-expenses p{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

